.section-case-studies {
	.box-sizing();
	text-align: center;

	@media @bp_768 {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.page {
		.font-size(24);
		line-height: 30px;
		font-weight: 500;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	h2 {
		.font-size(28);
		line-height: 30px;
		font-weight: 500;
		text-align: left;
		padding-bottom: 50px;

		@media @bp_768 {
			.font-size(80);
			line-height: 86px;
			padding-bottom: 80px;
			text-align: center;
		}
	}

	.grid {
		.clearfix;
		text-align: center;
		clear: both;

		@media @bp_768 {
			margin: 0 -15px;
		}
	}

	.grid-item {
		.box-sizing();
		
		margin: 0 auto;
		vertical-align: top;

		@media @bp_768 {
			width: 32.5%;
			display: inline-block;
			padding: 15px;
		}
	}

	.card {

		h3 {

			@media @bp_768 {
				.font-size(20);
				line-height: 26px;
			}

			@media @bp_1024 {
				.font-size(26);
				line-height: 30px;
			}
		}
	}
}